* {
    margin: 0;
    padding: 0;
}

.content-container {
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
}

.index-list > li {
    text-align: center;
    margin: 10px;
    list-style: none;
}

li {
    text-align: left;
    margin: 10px;
}

h2 {
    margin: 10px;
    background-color: bisque;
}

h1 {
    margin: 10px;
    background-color: cyan;
}

img {
    width: 50%;
    height: auto;
    margin: 10px;
    box-shadow: 5px 5px #00000044;
}

@media only screen and (max-width: 768px) {
    img {
        width: 100%;
    }

    h2 {
        width: 100%;
    }

    .content-container {
        width: 70%;

    }
}

button {
    width: 200px;
    height: 30px;
    margin: 20px;
}

